{% if page.layout == "taylor-home" %}
{% include collection-nav.html %}

<style>
#home-banner {
    background-image: url('{{ site.data.featured_item.src | relative_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
}
#home-title-box {
    padding-top: 15em;
    padding-bottom: 15em;
}
#home-banner-logo { 
    height: 40px; 
}
#play-icon { font-size: 150px; }
@media screen and (max-width: 576px) {
    #home-title-box {
        padding-top: 10em;
        padding-bottom: 10em;
    }
    #play-icon { font-size: 120px; }
}
.liblogo-corner {
    border-bottom-left-radius: .25rem;
}
.liblogo-corner img{ height: 45px; }

</style>
<div id="home-banner" class="container-fluid mb-0 p-0">

    <a class="d-none d-md-block float-end p-3 liblogo-corner bg-dark bg-opacity-75" href="https://www.lib.uidaho.edu/" title="University of Idaho Library home" target="_blank" rel="noopener">
        <img alt="University of Idaho Library" src="https://www.lib.uidaho.edu/media/digital/liblogo_transparent.png" >
    </a>

    <div id="home-title-box" class="position-relative" >
        <div class="p-2 text-center text-white bg-dark bg-opacity-75">
            <h1 class="display-4">{{ site.title }}</h1>
            {% if site.tagline %}<p class="mb-0">{{ site.tagline }}</p>{% endif %}
        </div>
        {% unless site.data.theme.featured-image contains '/' %}
        <div class="position-absolute bottom-0 end-0 px-2 bg-dark bg-opacity-75">
            <a class="text-white fs-6" href="{{ site.data.featured_item.link | relative_url }}" title="{{ site.data.featured_item.alt | escape }}">Featured Image</a>
        </div>{% endunless %}
    
        <div class="position-absolute bottom-0 start-0 ps-4">
            <a title="Play Introduction Video" class="text-white" id="play-icon" role="button" data-bs-toggle="modal" data-bs-target="#videoClipModal" data-bs-youtubeid="eKYyentx7Nc" data-bs-caption="Taylor Ranch Introduction">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi icon-sprite" viewBox="0 0 16 16" aria-hidden="true">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445"/>
                </svg>
                <span class="visually-hidden">Play Video Trailer</span>
            </a>
        </div>

    </div>

</div>
{%- else -%}
<div class="container-fluid">
    <div class="row align-items-center">
        <div id="title" class="{% if site.organization-logo-banner %}col-md-9{% else %}col-12{% endif %}">
            <h1><a class="text-dark font-weight-normal" href="{{ site.baseurl }}/" >{{ site.title }}</a></h1>     
            {% if site.tagline %}<p>{{ site.tagline }}</p>{% endif %}
        </div>
        {% if site.organization-logo-banner %}
        <div class="col-md-3 d-none d-lg-block text-end">
            <a class="btn btn-dark" href="{{ site.organization-link }}" title="{{ site.organization-name | escape }} home" target="_blank" rel="noopener">
                <img class="img-fluid" src="{{ site.organization-logo-banner | relative_url }}" alt="{{ site.organization-name | escape }}" style="max-height:100px">
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% include collection-nav.html %}
{%- endif -%}