/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

.blur {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(8px);
}
/* carousel */ 
#index-carousel {
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    a {
        color:white !important;
    }
    .carousel-item {
        width: 100%;
        @media (min-width: 768px) {
            height: 100%;
        }
        img {
            width:100%; 
            object-fit: cover;
            height:300px;
            @media (min-width: 768px) {
                height: 600px;
                object-fit: cover;
            }
        }
    }
    .carousel-caption { 
        background: rgba(0, 0, 0, 0.7); 
        min-width:450px;
        width:auto;
        bottom: 80px;
        left: 20%;  
        hr {
            border-color: lightgray; 
            width:50%;
            margin:auto; 
            border-style: dotted;
        }
    }
}
#carousel-pause-btn { 
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 28px;
    z-index: 99;
}

.tl-timeline p {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 19px !important;
    line-height: 1.42857143;
    color: #666666;
}

.tl-timeaxis .tl-timeaxis-content-container {
    position: relative;
    bottom: 0;
    display: none !important;
}

.navbar-brand {
    font-weight: 900;
    font-size: 28px;
    z-index: 3;
    position: relative; }
    @media (max-width: 575.98px) {
      .navbar-brand {
        line-height: 1; } }
    .navbar-brand span {
      color: #fff;
      display: block;
      line-height: 1.1; }
      .navbar-brand span small, .navbar-brand span .small {
        display: block;
        font-size: 11px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase; }
    .navbar-brand .flaticon {
      font-size: 50px;
      color: #5ea51d;
      line-height: .7; }
  
