---
title: Oral History Geographic Animation
layout: page
permalink: /geo-animation.html
# include CollectionBuilder info at bottom
#credits: true
# Edit the markdown on in this file to describe your collection
# Look in _includes/feature for options to easily add features to the page
---

<div class="row">
    <div class="col-4">
        <h2>Oral History Geographic Animation</h2>
        <p>
            These animated oral history recordings help orient visitors to the geography of the Taylor Wilderness Research Station, located in the heart of the Frank Church–River of No Return Wilderness in Central Idaho.<br><br>
            In the first video, Dr. Ed Krumpe, retired professor from the University of Idaho’s Department of Natural Resources, provides an overview of the area and its historical context.<br><br>
            In the second, wildlife researcher Dr. Maurice Hornocker recounts a four-day search for his colleague’s dog, Little Red—illustrating the challenges of traversing the rugged landscape on foot.
        </p>
    </div>
    <div class="col-8">
        <div class="image-container">
            {% include feature/video.html objectid="https://youtu.be/eKYyentx7Nc" width="75" alt="Retired Professor of the Department of Natural Resources at U of I, Dr. Ed Krumpe, gives a broad overview of the area and historical context" %}
        </div>
        <div class="image-container">
            {% include feature/video.html objectid="https://youtu.be/EEFYBcwY4Bg" width="75" alt="Cougar and large mammal researcher Dr. Maurice Hornocker describes a four-day hunt for his colleague's dog, Little Red" %}
        </div>
    </div>
</div>
