---
title: Oral Histories
layout: page
permalink: /oral_histories/
---
{% include transcript/style/filter-style.html %}
{% assign interviewees = site.data.interviewees %}

<div class="row">
    <h2>{{page.title}}</h2>
<div class="col-md-6 ps-2">
    
<p class="names">This collection consists of 11 hour-long video interviews conducted between summer of 2022 and spring of 2023 with the following people: </p>
 
    {% for int in interviewees %}
       <a class="btn btn-outline-info m-2" href="#{{ int.interviewee | slugify}}">{{ int.interviewee }}</a>    
    {% endfor %}

</div>
<div class="col-md-6 px-2 text-center">
{% include transcript/index/viz-overview.html height="350px"%}

{% include feature/button.html centered="true" text="Visualize by Topic" link="visualization.html" color="primary btn-lg" %}

</div>
</div>
{% assign items = site.data.taylor %}


{% for i in interviewees %}
<div class="row my-4 py-4 bg-light border interview-card {% cycle 'end', 'start' %}" id="{{ i.interviewee | slugify}}">

    {% assign image_item = items | where: "interviewee",i.interviewee | first %}
    {% assign position = forloop.index | modulo: 2 %}

    {% if position == 1 %}
    {%- comment -%}Image on left{%- endcomment -%}
    <div class="col-md-4 my-3" >
        <img src="{{ image_item.image_small | relative_url }}" class="img-fluid rounded my-3" alt="{{ i.interviewee }}">
    </div>
    <div class="col-md-7">
        <h2>{{ i.interviewee }}</h2>
        <p>{{ i.overview }}</p>
        <div class="btn-group">
            {% assign interviews = items | where: "interviewee",i.interviewee %}
            {% for interview in interviews %}
                {% if interview.title contains "Full Interview" %}
                <a href="{{ interview.objectid | prepend: '/items/' | append: '.html' | relative_url }}" class="btn btn-outline-primary m-1">Full Interview</a>
                {% elsif interview.title contains "Highlight" %}
                <a href="{{ interview.objectid | prepend: '/items/' | append: '.html' | relative_url }}" class="btn btn-outline-success m-1">Highlights</a>
                {% elsif interview.title contains "Part One" %}
                <a href="{{ interview.objectid | prepend: '/items/' | append: '.html' | relative_url }}" class="btn btn-outline-primary m-1">Part 1</a>
                {% elsif interview.title contains "Part Two" %}
                <a href="{{ interview.objectid | prepend: '/items/' | append: '.html' | relative_url }}" class="btn btn-outline-primary m-1">Part 2</a>
                {% elsif interview.title contains "Part Three" %}
                <a href="{{ interview.objectid | prepend: '/items/' | append: '.html' | relative_url }}" class="btn btn-outline-primary m-1">Part 3</a>
                {% endif %}
            {% endfor %}
                <a href="{{ '/oral_histories/visualization.html#' | append: image_item.objectid | relative_url }}" class="btn btn-outline-info m-1">Visualization <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
</svg></a>

        </div>
    </div>
    {% else %}
    {%- comment -%}Image on right{%- endcomment -%}
    <div class="col-md-7 offset-md-1 py-2 ">
        <h2>{{ i.interviewee }}</h2>
        <p>{{ i.overview }}</p>
        <div class="btn-group">
            {% assign interviews = items | where: "interviewee",i.interviewee %}
            {% for interview in interviews %}
                {% if interview.title contains "Full Interview" %}
                <a href="{{ interview.objectid | prepend: '/items/' | append: '.html' | relative_url }}" class="btn btn-outline-primary m-1">Full Interview</a>
                {% elsif interview.title contains "Highlight" %}
                <a href="{{ interview.objectid | prepend: '/items/' | append: '.html' | relative_url }}" class="btn btn-outline-success m-1">Highlights</a>
                {% elsif interview.title contains "Part One" %}
                <a href="{{ interview.objectid | prepend: '/items/' | append: '.html' | relative_url }}" class="btn btn-outline-primary m-1">Part 1</a>
                {% elsif interview.title contains "Part Two" %}
                <a href="{{ interview.objectid | prepend: '/items/' | append: '.html' | relative_url }}" class="btn btn-outline-primary m-1">Part 2</a>
                {% elsif interview.title contains "Part Three" %}
                <a href="{{ interview.objectid | prepend: '/items/' | append: '.html' | relative_url }}" class="btn btn-outline-primary m-1">Part 3</a>
                {% endif %}
            {% endfor %}
                <a href="{{ '/oral_histories/visualization.html#' | append: image_item.objectid | relative_url }}" class="btn btn-outline-info m-1">Visualization <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
</svg></a>

        </div>
    </div>
    <div class="col-md-4 my-3">
        <img src="{{ image_item.image_small | relative_url }}" class="img-fluid rounded my-3" alt="{{ i.interviewee }}">
    </div>
    {% endif %}
</div>
{% endfor %}

<style>
.names a {
    color: black;
    font-weight: 600;
}

.interview-card {
    border-radius: 0 !important;
}

@media (min-width: 768px) {
    .interview-card {
        border-radius: 50rem !important;
    }
    .interview-card.start {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .interview-card.end {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}
</style>