---
# Default home page with boxes providing collection stats
layout: page
custom-foot: js/taylor-home-js.html;
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}

<div class="row">
  <div class="col-md-4">
    {% include index/description.html %}
  </div>
  <div class="col-md-4">
    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="payette-blue" max=10 %}
  </div>
  <div class="col-md-4">
    {% include index/objects.html %}
  </div>
</div>

<div class="row">
  <div class="col-12">
    {% include feature/alert.html text="Note: All items in this collection are not held in U of I Special Collections. If you have questions about specific items, please select the `Website Feedback` button on the bottom right of this page." color="light" align="center" %}
    {% include index/data-download.html %}
  </div>
</div>

